<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbAutogestionContainer" connectionString="metadata=res://*/DbAutogestion.csdl|res://*/DbAutogestion.ssdl|res://*/DbAutogestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\ReyvingF\OneDrive\Documentos\DbAutogestion.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>